$md-3d-rotation: "\f000";
$md-access-alarm: "\f11d";
$md-access-alarms: "\f11e";
$md-accessibility: "\f001";
$md-access-time: "\f11f";
$md-account-balance: "\f002";
$md-account-balance-wallet: "\f003";
$md-account-box: "\f004";
$md-account-child: "\f005";
$md-account-circle: "\f006";
$md-adb: "\f2a7";
$md-add-alarm: "\f120";
$md-add-box: "\f0fc";
$md-add-circle: "\f0fd";
$md-add-circle-outline: "\f0fe";
$md-add: "\f0fb";
$md-add-shopping-cart: "\f007";
$md-add-to-photos: "\f1d2";
$md-adjust: "\f1d3";
$md-airplanemode-off: "\f121";
$md-airplanemode-on: "\f122";
$md-alarm-add: "\f009";
$md-alarm: "\f008";
$md-alarm-off: "\f00a";
$md-alarm-on: "\f00b";
$md-album: "\f0a2";
$md-android: "\f00c";
$md-announcement: "\f00d";
$md-apps: "\f292";
$md-archive: "\f0ff";
$md-arrow-back: "\f297";
$md-arrow-drop-down-circle: "\f294";
$md-arrow-drop-down: "\f295";
$md-arrow-drop-up: "\f296";
$md-arrow-forward: "\f298";
$md-aspect-ratio: "\f00e";
$md-assessment: "\f00f";
$md-assignment: "\f010";
$md-assignment-ind: "\f011";
$md-assignment-late: "\f012";
$md-assignment-returned: "\f014";
$md-assignment-return: "\f013";
$md-assignment-turned-in: "\f015";
$md-assistant-photo: "\f1d4";
$md-attach-file: "\f168";
$md-attachment: "\f19c";
$md-attach-money: "\f169";
$md-audiotrack: "\f1d5";
$md-autorenew: "\f016";
$md-av-timer: "\f0a3";
$md-backspace: "\f100";
$md-backup: "\f017";
$md-battery-20: "\f123";
$md-battery-30: "\f124";
$md-battery-50: "\f125";
$md-battery-60: "\f126";
$md-battery-80: "\f127";
$md-battery-90: "\f128";
$md-battery-alert: "\f129";
$md-battery-charging-20: "\f12a";
$md-battery-charging-30: "\f12b";
$md-battery-charging-50: "\f12c";
$md-battery-charging-60: "\f12d";
$md-battery-charging-80: "\f12e";
$md-battery-charging-90: "\f12f";
$md-battery-charging-full: "\f130";
$md-battery-full: "\f131";
$md-battery-std: "\f132";
$md-battery-unknown: "\f133";
$md-beenhere: "\f25b";
$md-block: "\f101";
$md-bluetooth-audio: "\f2a8";
$md-bluetooth-connected: "\f135";
$md-bluetooth-disabled: "\f136";
$md-bluetooth: "\f134";
$md-bluetooth-searching: "\f137";
$md-blur-circular: "\f1d6";
$md-blur-linear: "\f1d7";
$md-blur-off: "\f1d8";
$md-blur-on: "\f1d9";
$md-book: "\f018";
$md-bookmark: "\f019";
$md-bookmark-outline: "\f01a";
$md-border-all: "\f16a";
$md-border-bottom: "\f16b";
$md-border-clear: "\f16c";
$md-border-color: "\f16d";
$md-border-horizontal: "\f16e";
$md-border-inner: "\f16f";
$md-border-left: "\f170";
$md-border-outer: "\f171";
$md-border-right: "\f172";
$md-border-style: "\f173";
$md-border-top: "\f174";
$md-border-vertical: "\f175";
$md-brightness-1: "\f1da";
$md-brightness-2: "\f1db";
$md-brightness-3: "\f1dc";
$md-brightness-4: "\f1dd";
$md-brightness-5: "\f1de";
$md-brightness-6: "\f1df";
$md-brightness-7: "\f1e0";
$md-brightness-auto: "\f138";
$md-brightness-high: "\f139";
$md-brightness-low: "\f13a";
$md-brightness-medium: "\f13b";
$md-brush: "\f1e1";
$md-bug-report: "\f01b";
$md-business: "\f0d4";
$md-cached: "\f01c";
$md-cake: "\f2c9";
$md-call-end: "\f0d6";
$md-call: "\f0d5";
$md-call-made: "\f0d7";
$md-call-merge: "\f0d8";
$md-call-missed: "\f0d9";
$md-call-received: "\f0da";
$md-call-split: "\f0db";
$md-camera-alt: "\f1e3";
$md-camera: "\f1e2";
$md-camera-front: "\f1e4";
$md-camera-rear: "\f1e5";
$md-camera-roll: "\f1e6";
$md-cancel: "\f293";
$md-cast-connected: "\f1aa";
$md-cast: "\f1a9";
$md-center-focus-strong: "\f1e7";
$md-center-focus-weak: "\f1e8";
$md-chat: "\f0dc";
$md-check-box: "\f2e1";
$md-check-box-outline-blank: "\f2e2";
$md-check: "\f299";
$md-chevron-left: "\f29b";
$md-chevron-right: "\f29c";
$md-class: "\f01d";
$md-clear-all: "\f0dd";
$md-clear: "\f102";
$md-closed-caption: "\f0a4";
$md-close: "\f29a";
$md-cloud-circle: "\f19e";
$md-cloud-done: "\f19f";
$md-cloud-download: "\f1a0";
$md-cloud: "\f19d";
$md-cloud-off: "\f1a1";
$md-cloud-queue: "\f1a2";
$md-cloud-upload: "\f1a3";
$md-collections: "\f1e9";
$md-colorize: "\f1ea";
$md-color-lens: "\f1eb";
$md-comment: "\f0de";
$md-compare: "\f1ec";
$md-computer: "\f1ab";
$md-contacts: "\f0df";
$md-content-copy: "\f103";
$md-content-cut: "\f104";
$md-content-paste: "\f105";
$md-control-point-duplicate: "\f1ee";
$md-control-point: "\f1ed";
$md-create: "\f106";
$md-credit-card: "\f01e";
$md-crop-16-9: "\f1f3";
$md-crop-3-2: "\f1f0";
$md-crop-5-4: "\f1f1";
$md-crop-7-5: "\f1f2";
$md-crop-din: "\f1f4";
$md-crop: "\f1ef";
$md-crop-free: "\f1f5";
$md-crop-landscape: "\f1f6";
$md-crop-original: "\f1f7";
$md-crop-portrait: "\f1f8";
$md-crop-square: "\f1f9";
$md-dashboard: "\f01f";
$md-data-usage: "\f13c";
$md-dehaze: "\f1fa";
$md-delete: "\f020";
$md-description: "\f021";
$md-desktop-mac: "\f1ac";
$md-desktop-windows: "\f1ad";
$md-details: "\f1fb";
$md-developer-mode: "\f13d";
$md-devices: "\f13e";
$md-dialer-sip: "\f0e0";
$md-dialpad: "\f0e1";
$md-directions-bike: "\f25d";
$md-directions-bus: "\f25e";
$md-directions-car: "\f25f";
$md-directions: "\f25c";
$md-directions-ferry: "\f260";
$md-directions-subway: "\f261";
$md-directions-train: "\f262";
$md-directions-transit: "\f263";
$md-directions-walk: "\f264";
$md-disc-full: "\f2a9";
$md-dnd-forwardslash: "\f2aa";
$md-dnd-on: "\f0e2";
$md-dns: "\f022";
$md-dock: "\f1ae";
$md-domain: "\f2ca";
$md-done-all: "\f024";
$md-done: "\f023";
$md-do-not-disturb: "\f2ab";
$md-drafts: "\f107";
$md-drive-eta: "\f2ac";
$md-dvr: "\f13f";
$md-edit: "\f1fc";
$md-email: "\f0e3";
$md-equalizer: "\f0a5";
$md-error: "\f0a0";
$md-event-available: "\f2ad";
$md-event-busy: "\f2ae";
$md-event: "\f025";
$md-event-note: "\f2af";
$md-exit-to-app: "\f026";
$md-expand-less: "\f29d";
$md-expand-more: "\f29e";
$md-explicit: "\f0a6";
$md-explore: "\f027";
$md-exposure: "\f1fd";
$md-exposure-minus-1: "\f1fe";
$md-exposure-minus-2: "\f1ff";
$md-exposure-plus-1: "\f201";
$md-exposure-plus-2: "\f202";
$md-exposure-zero: "\f200";
$md-extension: "\f028";
$md-face-unlock: "\f029";
$md-fast-forward: "\f0a7";
$md-fast-rewind: "\f0a8";
$md-favorite: "\f02a";
$md-favorite-outline: "\f02b";
$md-file-download: "\f1a4";
$md-file-upload: "\f1a5";
$md-filter-1: "\f204";
$md-filter-2: "\f205";
$md-filter-3: "\f206";
$md-filter-4: "\f207";
$md-filter-5: "\f208";
$md-filter-6: "\f209";
$md-filter-7: "\f20a";
$md-filter-8: "\f20b";
$md-filter-9: "\f20c";
$md-filter-9-plus: "\f20d";
$md-filter-b-and-w: "\f20e";
$md-filter-center-focus: "\f20f";
$md-filter-drama: "\f210";
$md-filter: "\f203";
$md-filter-frames: "\f211";
$md-filter-hdr: "\f212";
$md-filter-list: "\f108";
$md-filter-none: "\f213";
$md-filter-tilt-shift: "\f214";
$md-filter-vintage: "\f215";
$md-find-in-page: "\f02c";
$md-find-replace: "\f02d";
$md-flag: "\f109";
$md-flare: "\f216";
$md-flash-auto: "\f217";
$md-flash-off: "\f218";
$md-flash-on: "\f219";
$md-flight: "\f265";
$md-flip: "\f21a";
$md-flip-to-back: "\f02e";
$md-flip-to-front: "\f02f";
$md-folder: "\f1a6";
$md-folder-open: "\f1a7";
$md-folder-shared: "\f1a8";
$md-folder-special: "\f2b0";
$md-format-align-center: "\f176";
$md-format-align-justify: "\f177";
$md-format-align-left: "\f178";
$md-format-align-right: "\f179";
$md-format-bold: "\f17a";
$md-format-clear: "\f17b";
$md-format-color-fill: "\f17c";
$md-format-color-reset: "\f17d";
$md-format-color-text: "\f17e";
$md-format-indent-decrease: "\f17f";
$md-format-indent-increase: "\f180";
$md-format-italic: "\f181";
$md-format-line-spacing: "\f182";
$md-format-list-bulleted: "\f183";
$md-format-list-numbered: "\f184";
$md-format-paint: "\f185";
$md-format-quote: "\f186";
$md-format-size: "\f187";
$md-format-strikethrough: "\f188";
$md-format-textdirection-l-to-r: "\f189";
$md-format-textdirection-r-to-l: "\f18a";
$md-format-underline: "\f18b";
$md-forum: "\f0e4";
$md-forward: "\f10a";
$md-fullscreen-exit: "\f2a0";
$md-fullscreen: "\f29f";
$md-functions: "\f18c";
$md-gamepad: "\f1af";
$md-games: "\f0a9";
$md-gesture: "\f10b";
$md-get-app: "\f030";
$md-gps-fixed: "\f140";
$md-gps-not-fixed: "\f141";
$md-gps-off: "\f142";
$md-grade: "\f031";
$md-gradient: "\f21b";
$md-grain: "\f21c";
$md-grid-off: "\f21d";
$md-grid-on: "\f21e";
$md-group-add: "\f2d5";
$md-group: "\f2d4";
$md-group-work: "\f032";
$md-hdr-off: "\f21f";
$md-hdr-on: "\f220";
$md-hdr-strong: "\f221";
$md-hdr-weak: "\f222";
$md-headset: "\f1b0";
$md-headset-mic: "\f1b1";
$md-healing: "\f223";
$md-hearing: "\f0aa";
$md-help: "\f033";
$md-highlight-remove: "\f034";
$md-high-quality: "\f0ab";
$md-history: "\f035";
$md-home: "\f036";
$md-hotel: "\f266";
$md-https: "\f037";
$md-image-aspect-ratio: "\f225";
$md-image: "\f224";
$md-import-export: "\f0e5";
$md-inbox: "\f10c";
$md-info: "\f038";
$md-info-outline: "\f039";
$md-input: "\f03a";
$md-insert-chart: "\f18d";
$md-insert-comment: "\f18e";
$md-insert-drive-file: "\f18f";
$md-insert-emoticon: "\f190";
$md-insert-invitation: "\f191";
$md-insert-link: "\f192";
$md-insert-photo: "\f193";
$md-invert-colors: "\f03b";
$md-invert-colors-off: "\f0e6";
$md-invert-colors-on: "\f0e7";
$md-iso: "\f226";
$md-keyboard-alt: "\f1b3";
$md-keyboard-arrow-down: "\f1b4";
$md-keyboard-arrow-left: "\f1b5";
$md-keyboard-arrow-right: "\f1b6";
$md-keyboard-arrow-up: "\f1b7";
$md-keyboard-backspace: "\f1b8";
$md-keyboard-capslock: "\f1b9";
$md-keyboard-control: "\f1ba";
$md-keyboard: "\f1b2";
$md-keyboard-hide: "\f1bb";
$md-keyboard-return: "\f1bc";
$md-keyboard-tab: "\f1bd";
$md-keyboard-voice: "\f1be";
$md-label: "\f03c";
$md-label-outline: "\f03d";
$md-landscape: "\f227";
$md-language: "\f03e";
$md-laptop-chromebook: "\f1c0";
$md-laptop: "\f1bf";
$md-laptop-mac: "\f1c1";
$md-laptop-windows: "\f1c2";
$md-launch: "\f03f";
$md-layers-clear: "\f268";
$md-layers: "\f267";
$md-leak-add: "\f228";
$md-leak-remove: "\f229";
$md-lens: "\f22a";
$md-link: "\f10d";
$md-list: "\f040";
$md-live-help: "\f0e8";
$md-local-airport: "\f269";
$md-local-atm: "\f26a";
$md-local-attraction: "\f26b";
$md-local-bar: "\f26c";
$md-local-cafe: "\f26d";
$md-local-car-wash: "\f26e";
$md-local-convenience-store: "\f26f";
$md-local-drink: "\f270";
$md-local-florist: "\f271";
$md-local-gas-station: "\f272";
$md-local-grocery-store: "\f273";
$md-local-hospital: "\f274";
$md-local-hotel: "\f275";
$md-local-laundry-service: "\f276";
$md-local-library: "\f277";
$md-local-mall: "\f278";
$md-local-movies: "\f279";
$md-local-offer: "\f27a";
$md-local-parking: "\f27b";
$md-local-pharmacy: "\f27c";
$md-local-phone: "\f27d";
$md-local-pizza: "\f27e";
$md-local-play: "\f27f";
$md-local-post-office: "\f280";
$md-local-print-shop: "\f281";
$md-local-restaurant: "\f282";
$md-local-see: "\f283";
$md-local-shipping: "\f284";
$md-local-taxi: "\f285";
$md-location-city: "\f2cb";
$md-location-disabled: "\f143";
$md-location-history: "\f286";
$md-location-off: "\f0e9";
$md-location-on: "\f0ea";
$md-location-searching: "\f144";
$md-lock: "\f041";
$md-lock-open: "\f042";
$md-lock-outline: "\f043";
$md-looks-1: "\f22c";
$md-looks-2: "\f22d";
$md-looks-3: "\f22e";
$md-looks-4: "\f22f";
$md-looks-5: "\f230";
$md-looks-6: "\f231";
$md-looks: "\f22b";
$md-loop: "\f0ac";
$md-loupe: "\f232";
$md-loyalty: "\f044";
$md-mail: "\f10e";
$md-map: "\f287";
$md-markunread: "\f10f";
$md-markunread-mailbox: "\f045";
$md-memory: "\f1c3";
$md-menu: "\f2a1";
$md-merge-type: "\f194";
$md-message: "\f0eb";
$md-messenger: "\f0ec";
$md-mic: "\f0ad";
$md-mic-none: "\f0ae";
$md-mic-off: "\f0af";
$md-mms: "\f2b1";
$md-mode-comment: "\f195";
$md-mode-edit: "\f196";
$md-mood: "\f2cc";
$md-more: "\f2b2";
$md-more-horiz: "\f2a2";
$md-more-vert: "\f2a3";
$md-mouse: "\f1c4";
$md-movie-creation: "\f233";
$md-movie: "\f0b0";
$md-multitrack-audio: "\f145";
$md-my-library-add: "\f0b1";
$md-my-library-books: "\f0b2";
$md-my-library-music: "\f0b3";
$md-my-location: "\f288";
$md-nature: "\f234";
$md-nature-people: "\f235";
$md-navigate-before: "\f236";
$md-navigate-next: "\f237";
$md-navigation: "\f289";
$md-network-cell: "\f146";
$md-network-locked: "\f2b3";
$md-network-wifi: "\f147";
$md-new-releases: "\f0b4";
$md-nfc: "\f148";
$md-no-sim: "\f0ed";
$md-note-add: "\f046";
$md-notifications: "\f2ce";
$md-notifications-none: "\f2cd";
$md-notifications-off: "\f2cf";
$md-notifications-on: "\f2d0";
$md-notifications-paused: "\f2d1";
$md-not-interested: "\f0b5";
$md-now-wallpaper: "\f149";
$md-now-widgets: "\f14a";
$md-open-in-browser: "\f047";
$md-open-in-new: "\f048";
$md-open-with: "\f049";
$md-pages: "\f2d2";
$md-pageview: "\f04a";
$md-palette: "\f238";
$md-panorama: "\f239";
$md-panorama-fisheye: "\f23a";
$md-panorama-horizontal: "\f23b";
$md-panorama-vertical: "\f23c";
$md-panorama-wide-angle: "\f23d";
$md-party-mode: "\f2d3";
$md-pause-circle-fill: "\f0b7";
$md-pause-circle-outline: "\f0b8";
$md-pause: "\f0b6";
$md-payment: "\f04b";
$md-people: "\f2d6";
$md-people-outline: "\f2d7";
$md-perm-camera-mic: "\f04c";
$md-perm-contact-cal: "\f04d";
$md-perm-data-setting: "\f04e";
$md-perm-device-info: "\f04f";
$md-perm-identity: "\f050";
$md-perm-media: "\f051";
$md-perm-phone-msg: "\f052";
$md-perm-scan-wifi: "\f053";
$md-person-add: "\f2d9";
$md-person: "\f2d8";
$md-person-outline: "\f2da";
$md-phone-android: "\f1c5";
$md-phone-bluetooth-speaker: "\f2b4";
$md-phone: "\f0ee";
$md-phone-forwarded: "\f2b5";
$md-phone-in-talk: "\f2b6";
$md-phone-iphone: "\f1c6";
$md-phonelink: "\f1c7";
$md-phonelink-off: "\f1c8";
$md-phone-locked: "\f2b7";
$md-phone-missed: "\f2b8";
$md-phone-paused: "\f2b9";
$md-photo-album: "\f23f";
$md-photo-camera: "\f240";
$md-photo: "\f23e";
$md-photo-library: "\f241";
$md-picture-in-picture: "\f054";
$md-pin-drop: "\f28a";
$md-place: "\f28b";
$md-play-arrow: "\f0b9";
$md-play-circle-fill: "\f0ba";
$md-play-circle-outline: "\f0bb";
$md-play-download: "\f2ba";
$md-play-install: "\f2bb";
$md-playlist-add: "\f0bc";
$md-play-shopping-bag: "\f0bd";
$md-plus-one: "\f2db";
$md-poll: "\f2dc";
$md-polymer: "\f055";
$md-portable-wifi-off: "\f0ef";
$md-portrait: "\f242";
$md-print: "\f056";
$md-public: "\f2dd";
$md-publish: "\f197";
$md-query-builder: "\f057";
$md-question-answer: "\f058";
$md-queue: "\f0be";
$md-queue-music: "\f0bf";
$md-quick-contacts-dialer: "\f0f0";
$md-quick-contacts-mail: "\f0f1";
$md-radio-button-off: "\f2e3";
$md-radio-button-on: "\f2e4";
$md-radio: "\f0c0";
$md-rate-review: "\f28c";
$md-receipt: "\f059";
$md-recent-actors: "\f0c1";
$md-redeem: "\f05a";
$md-redo: "\f110";
$md-refresh: "\f2a4";
$md-remove-circle: "\f112";
$md-remove-circle-outline: "\f113";
$md-remove: "\f111";
$md-remove-red-eye: "\f243";
$md-repeat: "\f0c2";
$md-repeat-one: "\f0c3";
$md-replay: "\f0c4";
$md-reply-all: "\f115";
$md-reply: "\f114";
$md-report: "\f116";
$md-report-problem: "\f05b";
$md-restaurant-menu: "\f28d";
$md-restore: "\f05c";
$md-ring-volume: "\f0f2";
$md-room: "\f05d";
$md-rotate-left: "\f244";
$md-rotate-right: "\f245";
$md-satellite: "\f28e";
$md-save: "\f117";
$md-schedule: "\f05e";
$md-school: "\f2de";
$md-screen-lock-landscape: "\f14b";
$md-screen-lock-portrait: "\f14c";
$md-screen-lock-rotation: "\f14d";
$md-screen-rotation: "\f14e";
$md-sd-card: "\f2bc";
$md-sd-storage: "\f14f";
$md-search: "\f05f";
$md-security: "\f1c9";
$md-select-all: "\f118";
$md-send: "\f119";
$md-settings-applications: "\f061";
$md-settings-backup-restore: "\f062";
$md-settings-bluetooth: "\f063";
$md-settings-cell: "\f064";
$md-settings-display: "\f065";
$md-settings-ethernet: "\f066";
$md-settings: "\f060";
$md-settings-input-antenna: "\f067";
$md-settings-input-component: "\f068";
$md-settings-input-composite: "\f069";
$md-settings-input-hdmi: "\f06a";
$md-settings-input-svideo: "\f06b";
$md-settings-overscan: "\f06c";
$md-settings-phone: "\f06d";
$md-settings-power: "\f06e";
$md-settings-remote: "\f06f";
$md-settings-system-daydream: "\f150";
$md-settings-voice: "\f070";
$md-share: "\f2df";
$md-shop: "\f071";
$md-shopping-basket: "\f072";
$md-shopping-cart: "\f073";
$md-shop-two: "\f074";
$md-shuffle: "\f0c5";
$md-signal-cellular-0-bar: "\f151";
$md-signal-cellular-1-bar: "\f152";
$md-signal-cellular-2-bar: "\f153";
$md-signal-cellular-3-bar: "\f154";
$md-signal-cellular-4-bar: "\f155";
$md-signal-cellular-connected-no-internet-0-bar: "\f156";
$md-signal-cellular-connected-no-internet-1-bar: "\f157";
$md-signal-cellular-connected-no-internet-2-bar: "\f158";
$md-signal-cellular-connected-no-internet-3-bar: "\f159";
$md-signal-cellular-connected-no-internet-4-bar: "\f15a";
$md-signal-cellular-no-sim: "\f15b";
$md-signal-cellular-null: "\f15c";
$md-signal-cellular-off: "\f15d";
$md-signal-wifi-0-bar: "\f15e";
$md-signal-wifi-1-bar: "\f15f";
$md-signal-wifi-2-bar: "\f160";
$md-signal-wifi-3-bar: "\f161";
$md-signal-wifi-4-bar: "\f162";
$md-signal-wifi-off: "\f163";
$md-sim-card-alert: "\f2bd";
$md-sim-card: "\f1ca";
$md-skip-next: "\f0c6";
$md-skip-previous: "\f0c7";
$md-slideshow: "\f246";
$md-smartphone: "\f1cb";
$md-sms: "\f2be";
$md-sms-failed: "\f2bf";
$md-snooze: "\f0c8";
$md-sort: "\f11a";
$md-speaker: "\f1cc";
$md-speaker-notes: "\f075";
$md-spellcheck: "\f076";
$md-star: "\f2e5";
$md-star-half: "\f2e6";
$md-star-outline: "\f2e7";
$md-star-rate: "\f077";
$md-stars: "\f078";
$md-stay-current-landscape: "\f0f3";
$md-stay-current-portrait: "\f0f4";
$md-stay-primary-landscape: "\f0f5";
$md-stay-primary-portrait: "\f0f6";
$md-stop: "\f0c9";
$md-storage: "\f164";
$md-store: "\f079";
$md-store-mall-directory: "\f28f";
$md-straighten: "\f247";
$md-style: "\f248";
$md-subject: "\f07a";
$md-subtitles: "\f0ca";
$md-surround-sound: "\f0cb";
$md-swap-calls: "\f0f7";
$md-swap-horiz: "\f07b";
$md-swap-vert-circle: "\f07d";
$md-swap-vert: "\f07c";
$md-switch-camera: "\f249";
$md-switch-video: "\f24a";
$md-sync-disabled: "\f2c1";
$md-sync: "\f2c0";
$md-sync-problem: "\f2c2";
$md-system-update: "\f2c3";
$md-system-update-tv: "\f07e";
$md-tab: "\f07f";
$md-tablet-android: "\f1ce";
$md-tablet: "\f1cd";
$md-tablet-mac: "\f1cf";
$md-tab-unselected: "\f080";
$md-tag-faces: "\f24b";
$md-tap-and-play: "\f2c4";
$md-terrain: "\f290";
$md-text-format: "\f11b";
$md-textsms: "\f0f8";
$md-texture: "\f24c";
$md-theaters: "\f081";
$md-thumb-down: "\f082";
$md-thumbs-up-down: "\f083";
$md-thumb-up: "\f084";
$md-timelapse: "\f24d";
$md-timer-10: "\f250";
$md-timer-3: "\f24f";
$md-timer-auto: "\f251";
$md-timer: "\f24e";
$md-timer-off: "\f252";
$md-time-to-leave: "\f2c5";
$md-toc: "\f085";
$md-today: "\f086";
$md-tonality: "\f253";
$md-track-changes: "\f087";
$md-traffic: "\f291";
$md-transform: "\f254";
$md-translate: "\f088";
$md-trending-down: "\f089";
$md-trending-neutral: "\f08a";
$md-trending-up: "\f08b";
$md-tune: "\f255";
$md-turned-in: "\f08c";
$md-turned-in-not: "\f08d";
$md-tv: "\f1d0";
$md-undo: "\f11c";
$md-unfold-less: "\f2a5";
$md-unfold-more: "\f2a6";
$md-usb: "\f165";
$md-verified-user: "\f08e";
$md-vertical-align-bottom: "\f198";
$md-vertical-align-center: "\f199";
$md-vertical-align-top: "\f19a";
$md-vibration: "\f2c6";
$md-videocam: "\f0cc";
$md-videocam-off: "\f0cd";
$md-video-collection: "\f0ce";
$md-view-agenda: "\f08f";
$md-view-array: "\f090";
$md-view-carousel: "\f091";
$md-view-column: "\f092";
$md-view-day: "\f093";
$md-view-headline: "\f094";
$md-view-list: "\f095";
$md-view-module: "\f096";
$md-view-quilt: "\f097";
$md-view-stream: "\f098";
$md-view-week: "\f099";
$md-visibility: "\f09a";
$md-visibility-off: "\f09b";
$md-voice-chat: "\f2c7";
$md-voicemail: "\f0f9";
$md-volume-down: "\f0cf";
$md-volume-mute: "\f0d0";
$md-volume-off: "\f0d1";
$md-volume-up: "\f0d2";
$md-vpn-key: "\f0fa";
$md-vpn-lock: "\f2c8";
$md-wallet-giftcard: "\f09c";
$md-wallet-membership: "\f09d";
$md-wallet-travel: "\f09e";
$md-warning: "\f0a1";
$md-watch: "\f1d1";
$md-wb-auto: "\f256";
$md-wb-cloudy: "\f257";
$md-wb-incandescent: "\f258";
$md-wb-irradescent: "\f259";
$md-wb-sunny: "\f25a";
$md-web: "\f0d3";
$md-whatshot: "\f2e0";
$md-wifi-lock: "\f166";
$md-wifi-tethering: "\f167";
$md-work: "\f09f";
$md-wrap-text: "\f19b";
