@media print{body{color:black;background:white;font:12pt Georgia, "Times New Roman", Times, serif;line-height:1.3}*[role="banner"],*[role="navigation"],header,footer,nav,aside,.breadcrumbs,a.post-edit-link{display:none !important;display:none}@page{margin:2cm 1.5cm}h1,h2,h3,h4,h5,h6{page-break-after:avoid}h1{page-break-before:always}h1{font-size:22pt}h2{font-size:18pt}h3{font-size:16pt}h4,h5,h6{font-size:14pt}a:after{content:" [" attr(href) "] "}a:link,a:visited,a:hover,a:active{text-decoration:underline;color:black}a:after{text-decoration:none}img{max-width:500px;height:auto;opacity:0.9}}
/*# sourceMappingURL=print.css.map */
