/*Base*/

body,
html {
	@include reset;
}

body {
	min-width: 319px;
	background: $white url('../img/bg.jpg') center center no-repeat;
	background-size: 110% auto;
	background-attachment: fixed;
	
	@media all and (orientation: portrait) {
		background-size: auto 110%;
	}
	
	& > .container {
		position: relative;
		margin: {
			top: 12px;
			bottom: 12px;
		}
		background-color: rgba($white, 0.955555);
		
		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			height: 100%;
			width: 6px;
			background-color: rgba(darken($blue, 12%), 0.666);
			@include box-shadow(0 0 12px 0 rgba($black, 0.333));
		}
		
		&:before {
			left: -6px;
		}
		
		&:after {
			right: -6px;
		}
	}
}
