/* Header */

$menu-brakepoint: $screen-md;

header {
	position: relative;
	z-index: 666;
	min-height: 174px !important;
	background: $black url('../img/cartographer.png') center center;
	@include box-shadow(0px 0px 15px 0 rgba($black, 0.5));
	
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: -6px;
		left: -6px;
		height: 6px;
		width: 100%;
		background-color: rgba(darken($blue, 12%), 0.666);
		@include box-shadow(0 0 12px 0 rgba($black, 0.333));
		border: {
			color: $white;
			width: 0 6px;
			style: solid;
		}
		@include unborder_box();
	}
	
	h1 {
		@include text_hide;
		@include reset;
		background: url(../img/logo.png) center center no-repeat;
		position: absolute;
		left: -126px;
		top: 15px;
		z-index: 100;
		width: 245px;
		height: 245px;
		background-color: $blue;
		@include transition (-webkit-transform .333s ease-in-out, -ms-transform .333s ease-in-out, transform .333s ease-in-out);
		@include border-radius(50%);
		@include box-shadow(0px 0px 15px 0 rgba($black, 0.5));
		
		&:hover {
			@include rotate(-25);
		}
	}
	
	h2,
	h3 {
		@include reset;
		position: absolute;
		left: 150px;
		display: none;
	}
	
	blockquote {
		position: absolute;
		left: 0;
		z-index: 1;
		bottom: 55px;
		margin-top: 40px;
		padding: {
			left: 145px;
			right: 250px;
		}
		width: auto;
		border: none !important;
		color: $white;
		font: {
			style: italic;
			size: 13.5px;
		}
		
		span {
			float: right;
		}
		
		@media all and (max-width: $menu-brakepoint) {
			display: none;
		}
	}
	
	.breadcrumbs {
		display: none !important;
		position: absolute;
		left: 290px;
		bottom: -37px;
	}
	
	@media all and (max-width: 1430px) {
		h1 {
			left: 0;
			@include scale(0.85);
		}
		
		blockquote {
			padding-left: 244px;
		}
		
		.breadcrumbs {
			left: 244px;
		}
	}
	
	@media all and (max-width: 585px) {
		h1 {
			left: -10px;
			@include scale(0.75);
		}
	}
	
	@media all and (max-width: 420px) {
		#main_menu {
			margin-top: 165px !important;
		}
	
		h1 {
			left: 50%;
			top: -15px;
			margin-left: -122px;
		}
	}
}

nav#main_menu {
	@media all and (max-width: $menu-brakepoint) {
		@include reset(list-light);
		position: relative;
		margin: {
			top: 110px;
			left: -15px;
			right: -15px;
		}
		padding-top: 50px;
		border: {
			width: 7px 0;
			color: $blue;
			style: solid;
		}
		background-color: $red;
		
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 1px;
			background-color: $white;
		}
		
		&:after {
			top: auto;
			bottom: 0;
		}
		
		.menu_trigger {
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 15px;
			font-size: 16.5px;
			line-height: 50px;
			color: $white;
			@include transition(color 0.2s linear);
			@include josefin($weight: 700, $size: 21px);
			
			&:after {
				@include icon($fa-var-reorder);
				display: inline-block;
				margin-left: 0.5em;
			}
			
			body.open & {
				&:after {
					@include icon($fa-var-times);
				}
			}
		}
		
		ul {
			display: none;
			@include reset;
		}
		
		body.open & ul {
			display: block;
		}
		
		ul li {
			display: block;
			border: {
				width: 1px 0 0 0;
				color: lighten($black, 80%);
				style: solid;
			}
			line-height: 40px;
			text: {
				transform: uppercase;
				align: center;
			}
			@include comforta($weight: 700);
			
			a {
				color: $white;
				@include transition(color 0.2s linear);
			}
		
			&:hover > a {
				color: $black;
			}
		}
	
		ul li ul {
			display: none;
		}
	}
	
	@media all and (min-width: $menu-brakepoint + 1) {
		@include reset(list-light);
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 50;
		border: {
			width: 7px 0;
			color: $blue;
			style: solid;
		}
		width: 100%;
		float: none;
		clear: both;
		
		.menu_trigger {
			display: none;
		}
	
		a {
			display: block;
			color: $white;
			@include single-transition(color, .222s);
		}
		
		.current-menu-item,
		.current-menu-ancestor{
			& > a {
				color: $blue;
			}
		}
		
		ul {
			@include reset;
			padding-left: 135px;
			text-align: left;
			background: $red;
			border: {
				width: 1px 0;
				style: solid;
				color: $white;
			}
		}
	
		ul li {
			display: inline-block;
			position: relative;
			padding: 0 17px 0 16px;
			@include josefin($weight: 700, $size: 21px);
			height: 56px;
			line-height: 59px;
		
			&:hover > a {
				color: $blue;
			}
		
			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -6px;
				width: 1px;
				height: 12px;
				background-color: lighten($black, 80%);
			}
		
			&.first-menu-item {
				padding-left: 1px;
			}
		
			&:last-child:after {
				display: none;
			}
		}
	
		ul li ul {
			display: none;
			//display: block;
			position: absolute;
			left: 0;
			top: 100%;
			
			border: {
				width: 0 1px 1px 1px;
				color: $white;
				style: solid;
			}
			
			margin-top: 0px;
			padding: 0;
			
			line-height: 36px;
			@include border-radius(0 0 8px 8px);
		
			li {
				font-size: 0.9em;
				line-height: 23px;
				height: 23px;
				
				&:after {
					display: none;
				}
			}
		}
		
		ul li:hover ul {
			display: block;
		}
		
		@media all and (max-width: 1430px) {
			ul {
				padding-left: 230px;
			}
			
			ul li {
				font-size: 19px;
			}
		}
	}
}

nav#social_menu {
	$icon-size: 30px;
	$icon-space: 10px;

	@include reset(list);
	position: absolute;
	z-index: 5;
	right: 15px;
	top: 60px;
	
	a {
		@extend %hide-text;
		position: relative;
		display: block;
		width: $icon-size + $icon-space;
		height: $icon-size;
		white-space: nowrap;
		opacity: .85;
		padding-left: $icon-space;
		@include transition(all 0.065s linear);
		
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			width: $icon-size;
			height: $icon-size;
			//background-color: $white;
			text-align: right;
			line-height: $icon-size;
			font-size: $icon-size;
			color: $white;
		}
		
		&:hover {
			@include scale(1.25);
		}
	}
	
	#menu-item-8 a:after {
		@include icon($fa-var-facebook);
	}
	
	#menu-item-51 a:after {
		@include icon($fa-var-twitter);
	}
	
	#menu-item-9 a:after {
		@include icon($fa-var-tripadvisor);
	}
	
	#menu-item-10 a:after {
		@include icon($fa-var-foursquare);
	}
	
	@media all and (max-width: 420px) {
		right: auto;
		left: 8px;
		top: auto;
		bottom: -50px;
		
		a:after {
			color: $black;
		}
		
		#menu-item-9 a:after {
			background-image: url('../img/tripadvisor_b.png');
		}
	}
}
