/* Extends */

// Hide the content text of a element (Like icon replacement of a menu item)

%hide-text {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	overflow: hidden;
}

// Inline icon fix (bullet point like icons called by icon mixin)

%inline-icon-left {
	display: inline-block;
	margin-right: 0.5em;
}

%inline-icon-right {
	display: inline-block;
	margin-left: 0.5em;
}
