/* Calendar */

.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper,
.events-list .tribe-events-loop {
	max-width: none;
}

.tribe-events-list-separator-month {
	overflow: hidden;
	
	span {
		position: relative;
		padding: {
			left: 25px;
			right: 25px;
		}
		background-color: transparent !important;
		@include josefin($weight: 700, $size: 24px);
		
		&:before,
		&:after {
			content: '';
			border-bottom: 1px solid #c2c2c2;
			height: 1px;
			width: 666%;
			display: block;
			position: absolute;
			top: 50%;
			z-index: -1;
		}
		
		&:before {
			left: 100%;
		}
		
		&:after {
			right: 100%;
		}
	}
	
	&:after {
		display: none;
	}
}

.tribe-events-calendar thead th {
	@include josefin($weight: 700, $size: 12px);
}

#tribe-events .tribe-events-button {
	display: none;
}

.tribe-events-event-meta {
	display: none;
}

.tribe-events-notices {
	border: none !important;
	background-color: rgba(darken($white, 10%), 0.85);
	@include border-radius(0);
	@include josefin($weight: 700, $size: 14px);
}

// Inner navigation

#tribe-events-content-wrapper,
#tribe-events-content {
	.tribe-events-back,
	.tribe-events-nav-left,
	.tribe-events-nav-right,
	.tribe-events-nav-previous,
	.tribe-events-nav-next {
		a {
			color: $red;
			@include josefin($weight: 700, $size: 18px);
			span {
				display: none;
			}
		}
	}

	.tribe-events-nav-previous a:before,
	.tribe-events-nav-left a:before {
		@include icon($fa-var-arrow-circle-left);
		display: inline-block;
		margin-right: 0.1em;
	}
	
	.tribe-events-nav-next a:after,
	.tribe-events-nav-right a:after {
		@include icon($fa-var-arrow-circle-right);
		display: inline-block;
		margin-left: 0.1em;
	}

	.tribe-events-read-more {
		@include josefin($weight: 700, $size: 18px);
		color: $red;
	}
}

// title

.tribe-events-list-event-title {
	a {
		color: inherit !important;
	}
}
