.herd {
	
	article {
		margin-bottom: 25px;
		border-bottom: 1px solid darken($white, 20%);
		padding-bottom: 10px;
		@include clearfix;
		
		&:last-child {
			margin-bottom: 10px;
			border-bottom: 0px none;
			padding-bottom: 0;
		}
		
		.img,
		.noimg {
			position: relative;
			display: block;
			float: left;
			margin: {
				top: 1px;
				right: 15px;
				bottom: 15px;
			}
			border: 6px solid $white;
			width: 200px;
			
			img {
				position: relative;
				z-index: 5;
				width: 100%;
				height: auto;
			}
		}
		
		.noimg {
			min-height: 110px;
			background-color: darken($white, 5%);
			
			&:before {
				@include icon($fa-var-ban);
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 1;
				margin: {
					top: -30px;
					left: -30px;
				}
				width: 60px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				font-size: 55px;
				color: darken($white, 15%);
			}
		}
		
		h3 {
			margin-top: 0;
			font-size: 22px;
			
			a {
				color: inherit;
			}
		}
		
		.more {
			text-align: left;
			@include josefin($weight: 700, $size: 18px);
			
			a {
				font-weight: bold;
				color: $active;
			}
			
			a:after {
				@include icon($fa-var-arrow-circle-right);
				//@include md-icon($md-chevron-right);
				display: inline-block;
				margin-left: 0.5em;
			}
		}
	}
	
	@media all and (max-width: 500px) {
		.article {
			.img {
				width: 33% !important;
			}
		}
	}
	
	@media all and (max-width: 400px) {
		.article {
			.img {
				width: 100% !important;
			}
		}
	}
}
