/* Child pages shortcode plugin */

// https://wordpress.org/plugins/child-pages-shortcode/
// http://wpist.me/wp/child-pages-shortcode/

$switch-child-pages-shortcode: $child-pages-shortcode;

$child-pages-shortcode-breakpoint-small: 390px;
$child-pages-shortcode-breakpoint-medium: 650px;
$child-pages-shortcode-breakpoint-large: 900px;

@if $switch-child-pages-shortcode == true {
	.post_excerpt {
		display: none !important;
	}
	
	div.child_pages {
		.child_page {
			width: 100% !important;
			margin-bottom: 15px;
			
			@media all and (min-width: $child-pages-shortcode-breakpoint-small) and (max-width: $child-pages-shortcode-breakpoint-medium) {
				width: 47% !important;
				margin-right: 6%;
				
				&:nth-child(2n+0) {
					margin-right: 0 !important;
				}
			}
			
			@media all and (min-width: $child-pages-shortcode-breakpoint-medium + 1) and (max-width: $child-pages-shortcode-breakpoint-large) {
				width: 23% !important;
				margin-right: 2.6666%;
				
				&:nth-child(4n+0) {
					margin-right: 0 !important;
				}
			}
			
			@media all and (min-width: $child-pages-shortcode-breakpoint-large + 1) {
				width: 19% !important;
				margin-right: 1.25%;
				
				&:nth-child(5n+0) {
					margin-right: 0 !important;
				}
			}
		}
		
		.post_thumb {
			height: auto !important;
		}
		
		.child_page-container {
			margin: 0 !important;
			border: none !important;
			background: none transparent !important;
			border-radius: 0 !important;
			padding: 0 !important;
		}
		
		h4 {
			font-weight: bolder;
			margin-top: 0;
			font-size: 14px;
			line-height: 1.2em;
			text-align: center;
			
			a {
				color: inherit;
			}
		}
		
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

/*
<div class="child_pages child_pages-thumbnail">
	<div id="child_page-24" class="child_page" style="width:50%;max-width:100%;">
		<div class="child_page-container">
			<div class="post_thumb">
				<a href="http://patakitiles.dev/?page_id=24"></a>
			</div><div class="post_content">
			<h4><a href="http://patakitiles.dev/?page_id=24">Old english</a></h4>
			<div class="post_excerpt">These patterns, shapes, colours and forms come from an era far back in time. Gothic Britain has seen the custom of using wonderfully mastered pavements s to mature to a colourful tradition in religious buildings, like the ones still there at Rievaulx Abbey, Yorkshire. These stunning surfaces created by brothers working for the Church were [&hellip;]</div></div><!-- .post_content  --></div><!-- .child_page-container --></div><!-- #child_page-24" -->
			
*/


