/* Multimedia */

// Videos

iframe {
	margin: 10px auto;
	width: 100% !important;
	max-width: 600px;
	display: block;
	
	@media all and (max-width: 600px) {
		height: 300px !important;
	}
	
	@media all and (max-width: 410px) {
		height: 240px !important;
	}
}
